.Navbar{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    font-size: 1rem;
    justify-content: center;
    color: black;
}
.Nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.NavItem{
    padding-left: 1rem;
    padding-right: 1rem;
}
#email,#github,#linkedin{
    color: black ;
}
#email:hover,#github:hover,#linkedin:hover{
    transform: scale(1.5);
}
.brand{
    font-size: 1rem;
    padding: 8px 0px;
    margin: 0pc;
    font-weight: bold;
}
.footerCredit{
    color: black;
}
@media screen and (max-width: 480px) {
    .brand{
        font-size: 0.75rem;
    }
    .Navbar{
        font-size: 0.75rem;
    }
}